body {
    /*font-family: "Arial";*/
    /*background-color: black;*/
    /*color: white;*/
}

.wd-search-tuiter {
    bottom: 10px;
    left: 14px;
}

.wd-nav-tabs {
    width: 100%;
    color: var(--blue);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px var(--blue);
}

.wd-rounded {
    border-radius: .9rem;
}
