h2 {
    margin: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.handle {
    color: lightgrey;
    font-size: 13px;
}

.page {
    padding-bottom: 12px;
}

.top-bar {
    border-bottom: 1px solid darkgray;
}

.author-name {
    font-weight: bold;
}

.username, .post-date {
    color: lightgrey;
}

.post {
    display: flex;
    gap: 12px;
    font-size: 15px;
    padding-left: 12px;
}

.post img {
    border-radius: 50%;
}

.main-content {
    max-width: 506px;
    padding-top: 5px;
}

.main-content img {
    border-radius: inherit;
}

.captioned-pic {
    border-radius: 12px;
    margin-top: 12px;
    border: 1px solid darkgray;
}

.caption {
    font-size: 15px;
    padding: 12px;
    border-top: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-weight: bold;
}

.body, .link {
    color: lightgrey;
}

.interaction {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding-top: 12px;
}

.numbered-icon {
    display: flex;
    gap: 12px;
    color: lightgrey;

}

.selected {
    color: red;
}
